doctype html
html
  head
    meta(charset='utf8')
    style.
      a {
        text-decoration : none;
        color: white;
        margin: 7px;
      }

      * {
        margin: 0px;
        padding: 0px;
      }

      #header {
        width: 100%;
        background-color: #111166;
      }
  body
    #header
      table
        tr
          #menu
            td
              a(href='/') 
                b HOME
          #menu
            td
              a(href='/login')
                b Sign In
          #menu
            td
              a(href='/signup') 
                b Sign Up